<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="httpTimeout" value="300" />
		<add key="suppressParentConfiguration" value="true" />
		<add key="signatureValidationMode" value="accept" />
		<add key="disablePackageVulnerabilityChecks" value="true" /> <!-- Disable audits -->
	</config>
	<packageSources>
		<add key="Nuget" value="https://api.nuget.org/v3/index.json"/>
	</packageSources>
</configuration>
